
/* General */
a {
    /* Do not underline links */
    text-decoration: none; 
    /* Do not change colors */
    color: inherit;
}

a:hover {
    /* decorate when over link */
    text-decoration: underline;
}

/* Main layout */
#site-header {
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

#menu {
    vertical-align: top;
}

#menu ul {
    width: 10em;
    border: solid 1px #ffd000;
    list-style-type: none;
    padding-left: 20px;
}

#menu li {
    font-weight: bold;
    padding: 5px;
}

#menu li.active {
    background-color: #ffd000;
}

#contents {
    vertical-align: top;
    padding-left: 20px;
    max-width: 1000px;
}

/* Sources, etc */

.button {
    border: outset 4px #ffd000;
    padding: 3px;
    font-weight: normal;
    background-color: #ffd000;
    display: inline-block;
    //font-family: sans;
}

.button:hover {
    background-color: yellow;
}

ul.source {
    list-style-type: none;
    padding-left: 0px;
}

li.source {
    border-top: #ffd000 solid 1px;
    margin-top: 10px;
}

.title {
    font-size: 1.2em;
    font-family: serif;
    color: green;
    font-weight: bold;
}

li.source .title {
    display: block;
}

.author {
    font-style: italic;
    font-size: .8em;
}

li.source .author {
    display: block;
}

.source .quotecount {
    display: float;
    float: right;
    font-weight: bold;
    background-color: #ffd000; 
    padding: 5px;
    min-width: 2em;
    text-align: center;
}

/* external url */
.url {
    color: blue;
    font-size: 0.8em;
    /*target-name: new;*/
}

ul.quotes {
    list-style-type: none;
}

li.quote {
    margin-top: .5em;
}

.description {
    display: block;
    font-weight: bold;
    color: green;
}
.dates {
    background-color: #ffd000;
    /*font-family: courier; */
    font-size: 0.8em;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
.tags {
    font-style: italic;
    margin-left: 10px;
    font-size: 0.8em;
}
.content {
    display: block;
    font-size: 0.8em;
    font-family: sans;
}

/* forms */
table.form td {
    padding: 5px;
}

.error {
    font-size: 10pt;
    color: red;
}

.errors {
    margin: 10px;
}

.item-opened {
    list-style-image: url("images/opened.png");
}

.item-closed {
    list-style-image: url("images/closed.png");
}

.item-header {
    font-weight: bold;
}
