/* General */
a {
    /* Do not underline links */
    text-decoration: none; 
    /* Do not change colors */
    color: inherit;
}

a:hover {
    /* decorate when over link */
    text-decoration: underline;
}

/* Main layout */
#site-header {
    font-size: 1.0em;
    background-color: rgb(81, 117, 180);
    font-family: arial;
    text-transform: uppercase;
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 11px;

}

#menu {
    vertical-align: top;
}

#menu ul {
	width: 9em;
     font-size: 0.8em;
     border: solid 1px rgb(81, 117, 180);
     margin-left: -3px;
     margin-top: -4;
     list-style-type: none;
     padding-left: 4px;
     padding-top: 5px;
     padding-bottom: 10px;
     background-color: rgb(247, 247, 247);

}

#menu li {
    font-weight: bold;
    font-family: Arial;
    padding: 5px;
}

#menu li.active {
    background-color: #ffd000;
}

#contents {
    vertical-align: top;
    padding-left: 20px;
    max-width: 1000px;
}

/* Sources, etc */

.button {
    border: outset 2px rgb(255, 255, 255);
    padding: 7px;
         font-weight: normal;
    font-size: 0.7em;
    text-transform: uppercase;
    font-family: arial;
    background-color: rgb(236, 236, 236);
    display: inline-block;

}

.button:hover {
    background-color: yellow;
}

ul.source {
    list-style-type: none;
    padding-left: 0px;
}

li.source {
    border-top: rgb(81, 117, 180) solid 1px;
    margin-top: 10px;
}

.title {
    font-size: 1.4em;
         border-bottom: 2px solid rgb(207, 214, 224);
    font-family: Arial;
    color: rgb(81, 117, 180);
    font-weight: normal;
    padding: 4px 0 4px 9px;
         background-color: rgb(247, 247, 247);


}

li.source .title {
    display: block;
}

.author {
    font-style: italic;
    font-size: 0.8em;
    font-family: arial;
    padding: 3 0 4 0;
}

li.source .author {
    display: block;
}

.source .quotecount {
    display: float;
    float: right;
    font-weight: bold;
    background-color: rgb(81, 117, 180);
    padding: 5px;
    min-width: 2em;
    text-align: center;
    color: white;
}

/* external url */
.url {
    color: rgb(0, 122, 255);
    font-family: arial;
    font-size: 0.8em;
    padding-bottom: 10;

    /*target-name: new;*/
}

ul.quotes {
    list-style-type: none;
}

li.quote {
    margin-top: .5em;
}

.description {
    display: block;
    font-weight: normal;
    font-family: arial;
    color: rgb(81, 117, 180);
    font-size: 1.2em;
    padding-bottom: 10px;
}
.dates {
    background-color: rgb(255, 255, 255);
    font-size: 0.8em;
    font-weight: normal;
    color: rgb(114, 114, 114);
    font-family: arial;
    padding-left: 5px;
    padding-right: 5px;
}
.tags {	     font-style: italic;
    font-family: arial;
    margin-left: 10px;
    font-size: 0.8em;
    background-color: rgb(240, 240, 240);
    padding-left: 8;
    padding-right: 8;

}
.content {
    display: block;
    font-size: 1em;
    line-height: 1.4;
    font-family: arial;
    padding-top: 7;
    padding-bottom: 15;
;
}

/* forms */
table.form td {
    padding: 5px;
}

.error {
    font-size: 10pt;
    color: red;
}

.errors {
    margin: 10px;
}

.item-opened {
    list-style-image: url("images/opened.png");
}

.item-closed {
    list-style-image: url("images/closed.png");
}

.item-header {
    font-weight: bold;
}

